nav{
    display: flex;
    background-color: rgb(251, 242, 111);
}
nav li{
    list-style: none;
    justify-content: space-between;
    width: 100%;
    font-size: medium ;
    font-weight: bold;
    padding: 20px;
    
}
nav li:hover{
    background-color: rgb(154, 150, 150);
    border-radius: 20px;
}
nav a{
    text-decoration: none;
}