.nav-container{
    height: 60px;
    width: auto;
    background-color: aqua;
    margin: 0px;
    border:0px;
    border-color:solid black;
    display: flex;
    padding: 10px;
}
.nav-elements{
    margin-left: 50px;
    list-style: none;
    display: flex;
    margin-left: 710px;
   
}
li{
    display: inline;
    padding: 20px;
    font-size: 2rem;
    border-radius: 20px;
}
li:hover{
    background-color: azure;
}
.name{
    display: inline;
}
a{
    text-decoration: none;
    text-decoration-color: none;
}
